
/* utilities */

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  @include pad {
    max-width: 720px;
  }
  @include mobile-larger {
    padding: 0;
  }
}

.bg-light {
  background: $bg-light;
}

.bg-dark {
  background: $primary;
}

.d-flex {
  display: flex;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}
