.footer {
    padding-top: 48px;
    padding-bottom: 32px;
    color: white;
    @include pad{
      padding-bottom: 40px;
    }
    @include mobile-larger{
      padding: 24px 13px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px white;
      padding-bottom: 32px;
      @include mobile-larger{
        padding-bottom: 24px;
      }
    }

    .nav {
      display: flex;
      margin-bottom: 24px;
      @include mobile-larger{
        display: none;
      }
      &-item a {
        padding: 12px 24px;
      }
    }

    .contact-list {
      font-size: 36px;
      @include mobile-larger{
        font-size: 16px;
      }
      .material-symbols-outlined {
        font-size: 48px;
        vertical-align: middle;
        margin-right: 20px;
        @include mobile-larger{
          font-size: 24px;
          margin-right: 8px;
        }
      }
      li:not(last-child) {
        margin-bottom: 8px;
      }
    }
    
    .social-list {
      display: flex;
      img {
        width: 48px;
        @include pad{
          width: 40px;
        }
        @include mobile-larger{
          width: 24px;
        }
      }
      a {
        padding: 0 16px;
        @include pad{
          padding: 0 8px;
        }
        @include mobile-larger{
          padding: 0 4px;
        }
      }
    }

    .copyright {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
      @include mobile-larger{
        padding-top: 16px;
        flex-direction: column;
      }
    }

    .privacy-list {
      display: flex;
      @include mobile-larger{
        flex-direction: column;
      }
      a {
        padding: 0 24px;
        @include mobile-larger{
          padding-top: 8px;
          padding-left: 0;
        }
      }
    }
  }