<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="banner">
      <div class="container banner-wrapper">
        <h2 class="banner-subtitle">Promise-Desert 2020 早春系列</h2>
        <h1 class="banner-title">看得清，才能看得遠</h1>
        <a href="#" class="banner-link">立即購買</a>
      </div>
    </div>
    <section class="feature bg-light">
      <div class="container">
        <h3 class="feature-title">用專業的心，做專業的事</h3>
        <ul class="feature-list">
          <li class="card">
            <div class="card-header">
              <img src="../assets/images/home-section2-1.png" alt="費用icon" class="card-img" />
              <h4 class="card-title">單一價格</h4>
            </div>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="card">
            <div class="card-header">
              <img src="../assets/images/home-section2-2.png" alt="取件icon" class="card-img" />
              <h4 class="card-title">20 分鐘即可取件</h4>
            </div>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="card">
            <div class="card-header">
              <img src="../assets/images/home-section2-3.png" alt="服務icon" class="card-img" />
              <h4 class="card-title">安心售後服務</h4>
            </div>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="card">
            <div class="card-header">
              <img src="../assets/images/home-sectioin2-4.png" alt="鏡片icon" class="card-img" />
              <h3 class="card-title">關於鏡片</h3>
            </div>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="classic">
      <div class="container">
        <h3 class="classic-title">經典系列鏡框</h3>
        <ul class="classic-list">
          <li class="card">
            <img src="../assets/images/home-section3-1.png" alt="OPTICAL" class="card-img" />
            <h4 class="card-title">OPTICAL</h4>
          </li>
          <li class="card">
            <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES" class="card-img" />
            <h4 class="card-title">SUNGLASSES</h4>
          </li>
          <li class="card">
            <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL" class="card-img" />
            <h4 class="card-title">FUNCTIONAL</h4>
          </li>
        </ul>
      </div>
    </section>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
